.footer {
  position: relative;
  top: 90px;
  left: 0;
  right: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-top: 1px solid #e7e7e7;
  color: #6c757d;
}

.footer div {
  line-height: 1.6;
}

.footer p:first-child {
  font-weight: bold;
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
